coordinator=true
node-scheduler.include-coordinator=false
discovery.uri=https://localhost:8443
http-server.https.port=8443
http-server.https.enabled=true
http-server.https.keystore.key="{{ trino_tls.secret }}"
# internal-communication.https.required=true <-- add back in a bit
http-server.https.included-cipher=TLS_RSA_WITH_AES_256_CBC_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_RSA_WITH_AES_128_CBC_SHA
# http-server.https.excluded-cipher=
http-server.https.keystore.path=/opt/tls-trino/crt/full/fullchain.pem
http-server.https.key.path=/opt/tls-trino/private/trino_self_cert_priv.pem
# jmx.rmiregistry.port=9080 - these don't need to be changed unless a different port is needed
# jmx.rmiserver.port=9081