coordinator=true
node-scheduler.include-coordinator=false
discovery.uri=https://localhost:8443
http-server.https.port=8443
http-server.https.enabled=true
http-server.https.keystore.key="{{ trino_tls.jks_password }}"
# internal-communication.https.required=true <-- add back in a bit
http-server.https.included-cipher=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
# http-server.https.excluded-cipher=
http-server.https.keystore.path="{{ full_path_fullchain_jks }}"
# jmx.rmiregistry.port=9080 - these don't need to be changed unless a different port is needed
# jmx.rmiserver.port=9081